.layout {
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: var(--app-max-width);
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* 移动端适配 */
@media (max-width: 430px) {
  .layout {
    min-width: 100%;
  }
}

/* 平板和桌面端适配 */
@media (min-width: 768px) {
  .layout {
    min-height: calc(100vh - 40px);
    max-height: 900px;
  }
}
